#main{
    background-color: dodgerblue;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#main:hover {
    background-color: deepskyblue;
}

body {
    text-align: center;
}